
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/application.css"> 
</head>
<body>
<h1>Education</h1>
<h2 class="text-center" >Bachelor Degree</h2>
<h3 class="text-center">Rutgers University--New Brunswick</h2>
<p class="text-center">Double major in Supply Chain Management & Finance</p>
<p class="text-center">Main Curriculum：
<ul class="text-center">
 <li>Global procurement and sourcing</li>
 <li>Six sigma and lean manufacturing</li>
 <li>Demand planning</li>
 <li>Global procurement and sourcing</li>
 <li>Business logistics and transportation</li>
 <li>Advanced Corporate Finance</li>
 
 </p>
<a href="/myinfor">Back to Homepage</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
