
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/application.css"> 
</head>
<body>
<h1 class="bg-success p-2 text-white">Education</h1>
<h2 class="text-center" >Bachelor Degree</h2>
<h3 class="text-center">Rutgers University--New Brunswick</h2>
<p class="text-center">Double major in Supply Chain Management & Finance</p>
<p class="text-center  ">Main Curriculum：
<ul class="text-center lh-base">
 <li>Global procurement and sourcing</li>
 <p>be familiar with procurement processes and costing</p>
 <li>Six sigma and lean manufacturing:know how to prepare Value Stream Map and use Minitab to analyze</li>
 <li>Demand planning:acquire demand forecasting methods-- Moving Average, Regression Analysis, Winter's Exponential Smoothing</li>
 <li>Supply chain finance:good at analyzing case studies based on financial and supply chain aspects</li>
 <li>Business logistics and transportation:optimize supply chain efficiency through better transportation plans </li>
 <li>Advanced Corporate Finance: evaluate corporation's financial performance using EDITDA, IRR, and other metrics</li>
</ul>
<h2 class="text-center" >Master Degree</h2>
<h3 class="text-center">Northwestern University</h2>
<p class="text-center">Program: Master of Science in Project Management</p>
<p class="text-center">Main Curriculum：
<ul class="text-center">
 <li>Lean construction: apply lean theories into construction field</li>
 <li>Negotiation: be familiar with negotiation strategies and practice mock negotiation</li>
 <li>Introduction of software development: acquire SQL, Rails, HTML, and CSS skills</li>
</ul>
 </p>
<a href="/myinfor">Back to Homepage</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
