<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/application.css"> 
</head>
<body>
<h1 class="bg-success p-2 text-white">Internship</h1>
<h2 class="text-center">HireBeat, NY</h2>
<ul class="text-center">
 <li>Practice presentation and communication skills</li>
 <li>Improve analytic skills</li>
</ul>
<h2 class="text-center">EHOMIE CHICAGO, IL</h2>
<ul class="text-center">
 <li>Can collect quantitative and qualitative data from market segments and new development</li>
 <li>Participate in marketing and advertising promotional activities</li>
</ul>

<a href="/myinfor">Back to Homepage</a>