<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/application.css"> 
<h1 class="bg-success p-2 text-white">Skills</h1>
<ul class="text-center">
<li>Advanced level of Excel, Word, Power of Point</li>
<li>Middle level of SQL, HTML, css, Rails</li>
<li>Basic level of Python</li>
<li>Entry level of Negotiation skills</li>

</ul>


<a href="/myinfor">Back to Homepage</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>